@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  background: var(--body-bg);
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  background: var(--body-bg);
}

:root {
  --color-text: #fff;
  --color-back: #1e212c;
  --color-front: #050b18;
  --color-btn: #644dda;
  --body-bg: #2a2c44;
}

.series {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  background: var(--color-front);
  padding: 16px 40px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 0);
}

.series::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  transform: translate(-100%, -100%);
}

.series:hover {
  clip-path: polygon(80px 0, 100% 0, 100% 100%, 0% 100%, 0% 80px);
  transition: clip-path 500ms;
}

.series:hover::after {
  transition: transform 500ms;
  background: var(--color-back);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  width: 80px;
  height: 80px;
  transform: translate(0%, 0%);
}

.series-img {
  width: 100%;
  height: 350px;
  border-radius: 13px;
  border-bottom-right-radius: 0;
}

.series-name {
  font-size: 20px;
}

@media (min-width: 375px) {
  .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 640px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 860px) {
  .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1020px) {
  .boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}

.likebtn {
  width: 170px;
  padding: 13px 16px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border: 2px solid #fff;
  margin: 10px;
  margin-left: 0;
  border-radius: 5px;
}

.heart {
  background-position: left;
  height: 21px;
  width: 21px;
  background-color: #fff;
  color: white;
  z-index: 7;
}

.countlike{
  color: var(--color-text);
  font-size: 21px;
}
.text {
  font-size: 21px;
  color: #fff;
  padding-left: 3px;
}

.active {
  text-decoration: none;
}

.likebtn .active{
  background-color: red;
  color: red;
  text-decoration: none;
}

.btnlike{
  background-color: var(--color-front);
  height: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid black;
  font-size: 1.2rem;
  box-shadow: 0 0 10px darkgrey;
  display: flex;
  flex-direction: column;
  background: var(--color-back);
}

footer p {
  padding: 1rem 1rem;
  color: white;
}

.footer-down {
  width: 100%;
  height: 3vh;
  background: var(--color-front);
  display: flex;
  align-items: flex-end;
  justify-content: end;
  border-top: 3px solid black;
  padding: 1rem;
}

.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  bottom: 0.3rem;
}

.line {
  background-color: white;
}

.line1 {
  width: 22px;
  height: 3px;
}

.line2 {
  width: 12px;
  height: 3px;
}

button {
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 5px;
  outline: 0;
  border: none;
  padding: 0.6rem 1rem;
  box-shadow: 8px 8px 10px rgb(43, 43, 43);
}

/* PopUp */

#popUp {
  display: none;
  position: fixed;
  background: #2a2c44f7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2rem;
}

#popUp::-webkit-scrollbar {
  display: none;
}

.singlePopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  gap: 0.6rem;
}

.singlePopUp::-webkit-scrollbar {
  display: none;
}

.singlePopUp h2 {
  color: white;
}

.singlePopUp h3 {
  color: white;
}

.comment p {
  color: white;
}

.singlePopUp h4 {
  color: white;
  font-size: 1.5rem;
}

.popUpImage {
  width: 40vw;
  margin-top: 1rem;
}

.popUpImage img {
  width: 100%;
  object-fit: cover;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.description h3 {
  display: flex;
  gap: 0.5rem;
  color: whitesmoke;
  background: var(--color-back);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
}

.closeIcon {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: #282054;
  cursor: pointer;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
}

.closeIcon span {
  color: white;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#name {
  width: 30vw;
  padding: 0.8rem;
  font-size: 1.1rem;
  border: none;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
}

#name::placeholder {
  font-size: 1.1rem;
}

#message {
  padding: 0.8rem;
  width: 30vw;
  height: 15vh;
  font-size: 1.1rem;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
}

#message::placeholder {
  font-size: 1.1rem;
}

#form button {
  width: 10rem;
  font-size: 1.2rem;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
  margin-bottom: 1rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-back);
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: 8px 8px 10px rgb(3, 3, 31);
}

/* PopUp Mbobile */

@media screen and (max-width: 768px) {
  #name {
    width: 80vw;
  }

  #message {
    width: 80vw;
  }
}
